body {
  box-sizing: border-box;
  display: flex;
  padding: 10rem 1.25rem 1.25rem 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  margin: 0;
}

@media screen and (max-width:430px) {
  body {
    padding-top: 8rem;
  }
}

.masthead-block {
  background-color: var(--darkGrey);
  display: flex;
  color: var(--accentColor);
  min-height: 78vh;
}

article.wrap {
  display: flex;
  padding: 1.25rem 1.25rem 1.25rem 0rem;
  align-items: flex-start;
  gap: 3.75rem;
  align-self: stretch;
  flex-flow: row wrap;

  max-width: 650px;
  margin: auto;
}

div.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.25rem;
  flex: 1 0 0;
}

section {
  padding: 0;
}