.primary-nav {
  box-sizing: border-box;
  background-color: var(--darkGrey);
  backdrop-filter: blur(2px);
  display: flex;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
  left: 1.25rem;
  right: 1.25rem;
  top: 1.25rem;
}

.primary-nav a {
  align-self: baseline;
  color: var(--accentColor);
  display: block;
  text-decoration: none;
  font-weight: 600;
  padding: 1.25rem;
  position: relative;
  font-family: 'GT Eesti Display Bold';
}

.primary-nav a span.smile {
  opacity: 0;
}

.primary-nav a:focus span.smile, .primary-nav a.active span.smile {
  opacity: 100;
  color: var(--accentColor);
  font-size: 30px;
}

.primary-nav a:visited {
  background: #eee;
  color: var(--accentColor);
}


@media screen and (max-width:550px) {
  .primary-nav {
    flex-wrap: wrap;
  }
  .primary-nav a:first-child {
    width: 100%;
  }
}

@media screen and (max-width:490px) {
  .primary-nav {
    flex-wrap: wrap;
  }
  .primary-nav a {
    padding: 0;
  }
}