.primary-nav {
  box-sizing: border-box;
  backdrop-filter: blur(2px);
  display: flex;
  padding: 0.875rem;
  justify-content: space-between;
  left: 1.25rem;
  right: 1.25rem;
  top: 1.25rem;
  vertical-align: center;
}

.primary-nav a {
  align-self: center;
  color: var(--darkGrey);
  display: flex;
  font-weight: 600;
  font-family: 'GT Eesti Display Bold';
  text-decoration: none;
  padding: 1.25rem;
  position: relative;
  vertical-align: middle;
}

.primary-nav a.its-my-name.steven {
  border-radius: 4px;
  color: var(--accentColor);
  background-color: var(--primaryColor);
  padding: 3px;
}

.primary-nav a span.smile {
  opacity: 0;
  font-size: 1.5rem;
}

.primary-nav a:focus span.smile, .primary-nav a.active span.smile {
  opacity: 100;
  color: var(--darkGrey);
}

.primary-nav a:visited {
  background: #eee;
  color: var(--darkGrey);
}

@media screen and (max-width:550px) {
  .primary-nav {
    flex-wrap: wrap;
  }
  .primary-nav a:first-child {
    width: 100%;
  }
}

@media screen and (max-width:490px) {
  .primary-nav {
    flex-wrap: wrap;
  }
  .primary-nav a {
    padding: 0;
  }
}
