@import url(_newsletter.css);

@font-face {
  font-family: 'GT Eesti Display Light Italic';
  src: url('../fonts/GT-Eesti-Display-Light-Italic.woff2') format('woff2'),
       url('../fonts/GT-Eesti-Display-Light-Italic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body::before {
  background-image: none;
  background-color: bisque;
}

body.notes section {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 0 !important;
}

body.notes article h3 {
  font-family: "CorundumText SemiBold";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 375;
  line-height: 2.25rem;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
  text-align: left;
}

.notes article h1{
  padding-left: 0;
  width: 100%;
}

.notes section time {
  margin-bottom: 2.6rem;
}

body.notes h2 {
  margin-top: 1.5vmax;
  max-width: none;
}

body.notes h3 {
  margin-top: 1.5vmax;
}

body.notes ul {
  list-style-type: disc;
  list-style-position: inside;
}

body.notes .itstheart {
  width: 90vw;
  height: 90vh;
  margin-top: 5vh;
}

body.notes .art-caption {
  background-color: var(--tagBG);
  color: var(--accentColor);
  font-size: 1rem;
  padding: 1.25rem;
  max-width: 90vw;
}

article.wrap.notes {
  max-width: none;

  display: block;
  width: 100%;
  padding: 0rem;
  z-index: 2;
}

article.wrap.notes div.col {
  max-width: 650px;
  margin: auto;
}

ul.post-collection {
  list-style: none;
  margin-top: 2.75rem;
  padding-left: 0;
}

ul.post-collection li {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  padding: 1.25rem 1.25rem 2rem;
  border-bottom: 1px dotted rgba(0,0,0,.25);
  margin-bottom: 2.75rem;
}

ul.post-collection li:last-child {
  border-bottom: none;
}

ul.post-collection li a {
  font-size: 1.75rem;
}

span.post-count {
  font-size: 24px;
  font-weight: bold;
}

span.post-date {
  opacity: 50%;
}

blockquote {
  padding: 2rem;
  margin: 0;
  background-color: #F2E0DC;
  border-radius: 4px;
}

blockquote p {
  font-family: "GT Eesti Display Light Italic";
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 0;
}

body.notes article section img {
  border-radius: 20px;
  position: relative;
  width: 100%;
}

body.notes article section a {
  display: inline;
  color: var(--primaryColor);
  text-decoration: underline;
}

body.notes table {
  border: 1px solid var(--primaryColor);
  border-radius: 4px;
  box-sizing: border-box;
  border-spacing: 2px;
  font-size: 1.25rem;
  margin-left: -25%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 150%;
}

body.notes table thead th {
  position: sticky; 
  top: 0;
  z-index: 1;
}

body.notes table th {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: left;
  background-color: var(--backgroundColor);
  border-bottom: 2px solid var(--primaryColor);
  box-sizing: border-box;
  padding: 0.625rem;
}

body.notes table tr {
  border-bottom: 1px solid #555;
}

body.notes table td {
  border-spacing: 2rem;
  border-bottom: 1px dotted #999;
  box-sizing: border-box;
  line-height: 1rem;
  padding: 1rem 0 1rem;
  text-indent: 0.625rem;
}

body.notes table tr td:nth-child(1),
body.notes table th:nth-child(1) {
  background-color: var(--accentColor);
}

body.notes table tr span.helper {
  display: none;
}

@media screen and (max-width:990px) {
  body.notes table {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }

  body.notes table tr {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  body.notes table th {
    display: none;
  }

  body.notes table tr span.helper {
    display: inline;
  }
}

@media screen and (max-width:950px) {

  article.wrap.notes {
    flex-direction: column;
    margin-top: auto;
  }
}
