@font-face {
  font-family: 'GT Eesti Display Bold';
  src: url('../fonts/GT-Eesti-Display-Bold.woff2') format('woff2'),
       url('../fonts/GT-Eesti-Display-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Text Book';
  src: url('../fonts/GT-Eesti-Text-Book.woff2') format('woff2'),
       url('../fonts/GT-Eesti-Text-Book.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Gill sans", "Gill Sans Nova", "DejaVu Sans", "Open Sans", "Lato", sans-serif;
  font-size: 1.5em;
  padding-top: 8vw;
  background: #FEECEC;
}

body * {
  margin-bottom: 1.5rem;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-image: url("../images/me.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 100%;
}

article.wrap {
  max-width: 1000px;
  margin: 0 0 0 45%;
}


html:is([data-zone="2"]) body::before {
  background-image: url("../images/rotation/img0001.jpg");
}
html:is([data-zone="3"]) body::before {
  background-image: url("../images/rotation/img0002.jpg");
}
html:is([data-zone="4"]) body::before {
  background-image: url("../images/rotation/img0003.jpg");
}
html:is([data-zone="5"]) body::before {
  background-image: url("../images/rotation/img0004.jpg");
}
html:is([data-zone="6"]) body::before {
  background-image: url("../images/rotation/img0005.jpg");
}
html:is([data-zone="7"]) body::before {
  background-image: url("../images/rotation/img0006.jpg");
}
html:is([data-zone="8"]) body::before {
  background-image: url("../images/rotation/img0007.jpg");
}
html:is([data-zone="9"]) body::before {
  background-image: url("../images/rotation/img0008.jpg");
}

time {
  max-width: 1000px;
  margin: auto;
}

time {
  color: #FEECEC;
  font-family: 'GT Eesti Display Bold';
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2rem;
  padding: 0.2rem 1rem 0 1rem;
  background: #9F2121;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
}

.background time {
  margin-left: 0;
}

section {
  display: grid;
  grid-template-columns: [titles] 30% [desc] 55% [wrap] 15%;
  padding: 1vw 0;
  align-items: baseline;
}

section.background {
  display: flex;
  flex-direction: column;
}

section.background > div {
  display: flex;
}

section h2 {
  grid-column-start: 1;
  grid-column-end: 2;
  max-width: 200px;
  padding-right: 1rem;
}

section h3 {
  padding-right: 20px;
  font-family: 'GT Eesti Display Bold';
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 50%;
}

section.wrapup {
  position: relative;
  margin-top: 1vw;
  padding-top: 1vw;
}

section.wrapup::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 20px;
  border-radius: 2px;
  background-color: #111;
}

.menu-toggle {
  display: none; /* Hide the checkbox */
}

#toc-list {
  border-radius: 10px;
  list-style: none;
  margin: 0;
  padding-left: 0;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  width: 18.6rem;
}

#toc-list li, #toc-list li a {
   margin: 0;
   line-height: 4rem;
   padding: 0px 2rem 0 0;
}

#toc-list label {
  display: block;
  text-align: right;
  padding-right: 6px;
}

.menu-toggle:checked + label + #toc-list {
  background-color: #FEECEC;
  opacity: 100%;
  top: 5rem;
  width: auto;
}

label[for='menu-toggle'] {
  cursor: pointer;
  color: #9F2121;
  font-size: 2rem;
  font-family: 'GT Eesti Display Bold';
  position: fixed;
  right: 5vmax;
  top: 3.5vw;
  z-index: 100;
  height: 16px;
  width: 32px;
  padding-top: 16px;
}

#makemodelPositioner{
  position: absolute;
  width: 1px;
  height: 1px;
  top: 1300px;
  left: 0;
}

body.toc-top nav {
  background-color: #FEECEC;
}

body.toc-top nav span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #9F2121;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

body.toc-top nav span:first-child {
  transform-origin: 0% 0%;
}

body.toc-top nav span:nth-last-child(2) {
  transform-origin: 0% 0%;
}

body.toc-top .menu-toggle:checked ~ label span {
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
  background: #232323;
}

body.toc-top .menu-toggle:checked ~ label span:nth-last-child(2) {
  transform: rotate(45deg) translate(-6px, -10px);
}

body.toc-top #toc-list {
  border-radius: 10px;
  box-shadow: 0px 5px 156px #FEECEC;
  list-style: none;
  margin: 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  opacity: 0%;
  position: fixed;
  right: 5vmax;
  top: -100%;
}

body.toc-top #toc-list li, body.toc-top #toc-list li a {
   margin: 0;
   line-height: 4rem;
   padding: 0px 2rem;
}

body.toc-top #toc-list label {
  display: block;
  text-align: right;
  padding-right: 6px;
}


/* Typography */
h1 {
  font-size: 2rem;
  font-size: clamp(2em, 5rem, 8vw);
  line-height: clamp(0.875em, 3rem, 5vw);
  margin-bottom: 6vw;
  max-width: 500px;
}

h2 {
  max-width: 570px;
  font-family: "GT Eesti Text Book";
}

.role {
  font-weight: 400;
  font-size: 1.75rem;
  margin-bottom: 5vw;
  padding-bottom: 3rem;
  max-width: 600px;
  position: relative;
}

.role::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 20px;
  border-radius: 2px;
  background-color: #9F2121;
}

p {
  display: block;
  max-width: 570px;
}

ol, ul {
  padding-left: 1vmax;
}

ol li::marker, ul li::marker {
  color: #9F2121;
  font-family: 'GT Eesti Display Bold';
  font-size: 1.5rem;
  font-weight: bold;
}

ol a, ul a {
  display: inline-block;
  text-decoration: none;
  color: #9F2121;
}

ol a:hover, ul a:hover {
  text-decoration: underline;
}

ol ul, ul ul {
  margin-top: 1vmax;
}

@media screen and (max-width: 1600px) {

  body {
    padding: 2vw;
  }

  article.wrap, time {
    max-width: 500px;
  }

  h1 {
    line-height: auto;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  section.wrapup {
    display: block;
  }

  section p:nth-child(3) {
    align-items: right;
  }

  /* Menu */
  nav {
    background-color: #FEECEC;
  }

  nav span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #9F2121;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  nav span:first-child {
    transform-origin: 0% 0%;
  }

  nav span:nth-last-child(2) {
    transform-origin: 0% 0%;
  }

  .menu-toggle:checked ~ label span {
    opacity: 1;
    transform: rotate(-45deg) translate(-2px, -1px);
    background: #232323;
  }

  .menu-toggle:checked ~ label span:nth-last-child(2) {
    transform: rotate(45deg) translate(-6px, -10px);
  }

  #toc-list {
    border-radius: 10px;
    box-shadow: 0px 5px 156px #FEECEC;
    list-style: none;
    margin: 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    opacity: 0%;
    position: fixed;
    right: 5vmax;
    top: -100%;
  }
  
  #toc-list li, #toc-list li a {
     margin: 0;
     line-height: 4rem;
     padding: 0px 2rem;
  }
  
  #toc-list label {
    display: block;
    text-align: right;
    padding-right: 6px;
  }
}

@media screen and (max-width: 860px) {
  body::before {
    display: none;
  }

  article.wrap, time {
    max-width: 500px;
    margin: auto;
  }
}
