---
images: true
active: Me
header: Designer, entrepreneur, community evangelist, technologist, musician, athlete, ally.
testimonial: [jared, steph]
mastheadArt: index-portrait.png
subNavigation: [[roles, "Roles"], [education, "Education"], [speaking, "Speaking & Publications"], [community, "Community Work"], [philosophies, "Philosophies"]]
introduction: My career supplements a life lived with creative compassion.
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "header.njk" %}
  <body>

    {% include "nav.njk" %}

    {% include "masthead.njk" %}

    {% include "_subnav.njk"%}

    <article class="wrap subnav-enabled">
      {% include "career.njk" %}
      {% include "education.njk" %}
      {% include "writing-speaking.njk" %}
      {% include "events.njk" %}
      {% include "philosophies.njk" %}
    </article>

  <div id="makemodelPositioner"></div>

  <script src="/scripts/window-observer.js"></script>
  <script src="/scripts/img-rotation.js"></script>
  <script src="/scripts/subnav.js"></script>
  </body>
</html>
