---
images: true
active: Bio
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Webume of Steven Trevathan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="images/favicon.svg">
    {% include "analytics.html" %}
  </head>
  <body>

    {# {% include "masthead.njk" %} #}

    {% include "nav.njk" %}

    <h1>Truh </br>vay </br>thin</h1>
    <p>(it's how its pronounced)</p>
    <article class="wrap">

      <div class="col">
        {% include "introduction.njk" %}
        {% include "body-art.njk" %}
        {% include "personal.njk" %}
        {% include "career.njk" %}
        {% include "education.njk" %}
        {% include "writing-speaking.njk" %}
        {% include "events.njk" %}
      </div>
      

      {# <div class="col">
        {% include "career.njk" %}
      </div>

      <div class="col">
        {% include "education.njk" %}

        {% include "writing-speaking.njk" %}
        
        {% include "events.njk" %}
      </div> #}

    </article>

  <div id="makemodelPositioner"></div>

  <script src="scripts/window-observer.js"></script>
  <script src="scripts/img-rotation.js"></script>
  </body>
</html>
