---
images: true
active: Bio
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "header.njk" %}
  <body>

    {% include "nav.njk" %}

    <h1>Truh </br>vay </br>thin</h1>
    <p>(it's how its pronounced)</p>
    <article class="wrap">

      <div class="col">
        {% include "introduction.njk" %}
        {% include "body-art.njk" %}
        {% include "personal.njk" %}
      </div>

    </article>

  <div id="makemodelPositioner"></div>

  <script src="scripts/window-observer.js"></script>
  <script src="scripts/img-rotation.js"></script>
  </body>
</html>
