---
images: true
active: Career
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include "header.njk" %}
  <body class="career">
    {% include "nav.njk" %}

    <h1>Design: </br>it depends</h1>
    <article class="wrap">
      <div class="col">
        <section>
          <p>For many years of my early career I had been told I would eventually be required to pick one thing in design to focus on. I'm proud to have resisted this, continuing to study all aspects of user experience design, including design research, accessibility, visual design, front end development, and even sales, support, and QA. My past experiences and work products have all benefited from this insistent inquisitiveness.</p>

          <p>The innovative opportunities I've enjoyed are a direct result of my resistence to wittle down my skillset. I've believed I needed to understand fundamentals across a product experience, from the challenges an end user faces to the realities of business operations. Without them, it'd have been easy to believe in a solution without seeing it's true impact.</p>
      </section>

      {% include "career.njk" %}
      {% include "education.njk" %}
      {% include "writing-speaking.njk" %}
      {% include "events.njk" %}
      
    </div>
     

    </article>

  <div id="makemodelPositioner"></div>
  </body>
</html>
