{%- if author == "jared" -%}
  <blockquote>
    <p>"Steven was extraordinary both as a Design leader and as a Product leader. Our progress was faster, our site was better, and our users were happier when we hired Steven than they'd ever been before. And he's set a direction for us that has stood the test of time. His impact on our work, and on our users, absolutely can NOT be overstated. I strongly recommend Steven in any context where clarity of thought and consistency of execution is the key to success."</p>
    <footer>
      <strong>-Jared Chung, Founder</strong>
      <strong>CareerVillage</strong>
    </footer>
  </blockquote>
{%- endif -%}

{%- if author == "steph" -%}
  <blockquote>
    <p>"Make&amp;Model has been our team's design partner for several years running, and for good reason. They understand what we need, what our product needs, and most importantly what our users need. They bring an innovative approach to designing UIs, and have worked closely with us to identify the right design to bring our projects over the finish line. We appreciate Make&amp;Model and their partnership!"</p>
    <footer>
      <strong>-Stephanie Wilkinson, Director of Engineering</strong>
      <strong>National Association of Independent Schools</strong>
    </footer>
  </blockquote>
{%- endif -%}