{%- if svgart -%}
<div class="itstheart">
  <div class="artwrap">
    <object data="../../images/svgs/{{ art }}.svg" width="{{ artwidth }}" height="{{ artheight }}" type="image/svg+xml">
    </object>
    {%- if artscript -%}
      <script src="{{ artscript }}"></script>
    {%- endif -%}
  </div>
</div>
{%- endif -%}

{%- if images and postnumber -%}
<div class="itstheart">
  <div class="artwrap image" style="background-image: url(../../images/{{ art }}.jpg)">

    {%- if artscript -%}
      <script src="{{ artscript }}"></script>
    {%- endif -%}
  </div>
</div>
{%- elseif images -%}
<div class="itstheart">
  <div class="artwrap image">
    
    {%- if artscript -%}
      <script src="{{ artscript }}"></script>
    {%- endif -%}
  </div>
</div>
{%- endif -%}