      <section>
        <h2>Career</h2>
      </section>

      <section>
        <h3>
          CEO, Make&amp;Model
        </h3>
        <time datetime="2017/2024">2017 - Present</time>
        <p>As the Founder and CEO of Make&amp;Model, I spearheaded a team in executing innovative projects across various domains, notably achieving an Emmy award for one of our clients. I have established myself as a leader adept at fostering innovation and collaboration. My greatest accomplishments at Make&Model lie in creating an agency that not only attracts diverse and complex projects but also positively impacts society and the environment. I have cultivated a versatile team skilled in transforming intricate challenges into user-friendly solutions, thereby building Make&Model's reputation as a transformative force in design and technology.</p>
      </section>

      <section id="other-experience">
        <h3>
          Director of Design, Mariana Tek
        </h3>
        <time datetime="2016/2017">2016 - 2017</time>
        <p>After working with the founders of Flywheel Sports, formerly a top competitive spin cycling studio with locations around the world, to redefine their in-studio spinning experience and later managing the team running design sprints that would lead to their new product, I had joined their new venture Mariana Tek as their Director of Design. During my time there I directly contributed on product design, user research, usability testing, and paved the way forward for this new team to bring the product to an international market.</p>
      </section>

      <section>
        <h3>
          Partner &amp; Creative Director, DockYard
        </h3>
        <time datetime="2013/2016">2013 - 2016</time>
        <p>In selling Dobot, I joined DockYard as Partner and Creative Director, eventually co-leading a team of nine designers and twelve engineers. We completed multi-million dollar projects for clients like McGraw Hill Education, NASDAQ, Society of Grownups/Mass Mutual, IDEO, Flywheel Sports, and America's Test Kitchen. After overseeing the team expansion and training my successor, I resigned to embark on a journey to explore the concept of a socially conscious studio, which eventually materialized as Make&Model.</p>
      </section>

      <section>
        <h3>
          Founder, Dobot
        </h3>
        <time datetime="2012/2013">2012 - 2013</time>
        <p>My second business was a Cambridge, MA-based boutique design and illustration studio. I led the creation of interactive animated web comics, organized pillar Boston design events, and art-directed animations, photoshoots, and music videos. Additionally, we performed product design services, ranging from innovative in-store shopping experiences to software for new wifi-first cellular devices.</p>
      </section>

      <section>
        <h3>
          Sr. Designer &amp; Front-end Developer, CustomMade
        </h3>
        <time datetime="2010/2012">2010 - 2012</time>
        <p>As the sole designer and front-end developer, I rapidly designed and launched features in weekly sprints, focusing on iteration and delivery. This experience significantly enhanced my skills in product team collaboration, understanding trade-offs, patience, and determination.</p>
      </section>

      <section>
        <h3>
          Sr. Designer &amp; Front-end Developer, Fuzz Productions
        </h3>
        <time datetime="2008/2010">2008 - 2010</time>
        <p>In my first post-college role, I worked extensively, laying the groundwork for my career in design, development, and entrepreneurship. At Fuzz, I designed notable iPhone apps for Condé Nast and the pioneering UGuideMe tour guide system. My responsibilities included redesigning and developing websites for banks, schools, and artists, along with managing client relations. This demanding role tested everything I knew, but my background in print and information technology equipped me to handle the challenging trade-offs and client negotiations.</p>
      </section>