<section id="roles">
  <div class="col">
    <h2>Roles</h2>
    <img src="images/role-logos/mm.svg" />
    <h3>
      Founder &amp; CEO, Make&amp;Model
    </h3>
    <time datetime="2016/2024">2016 - Present</time>
    <p>As the Founder and CEO of Make&amp;Model, I hired and spearheaded our team in our work executing on innovative projects across various domains, notably achieving an Emmy award for one of our clients and leading many through critical growth phases. I'm a leader who cares deeply about personal creative development, growth, and in fostering innovation and collaboration across teams. I founded this services firm to focus on mission-driven work, and pairing that with my background in product lead us to have many opportunities to work on critical and innovative challenges bringing positive change to both society and the environment.</p>
  </div>
{#   
  <h3>
    Sr. Designer &amp; Front-end Developer, CustomMade
  </h3>
  <time datetime="2010/2012">2010 - 2012</time>
  <p>As the sole designer and front-end developer, I rapidly designed and launched features in weekly sprints, focusing on iteration and delivery. I'd design the feature in the first two days, then deliver the functional experience over the remainder of the week. This experience significantly enhanced my skills in product team collaboration, understanding trade-offs, patience, and determination. I wouldn't recommend folks maintain such a tight timeline for every release, however utilizing the method as spikes on critical areas can be immensely helpful.</p>

  <h3>
    Sr. Designer &amp; Front-end Developer, Fuzz Productions
  </h3>
  <time datetime="2008/2010">2008 - 2010</time>
  <p>In my first post-college design role, I worked extensively, laying the groundwork for my career in design, development, and entrepreneurship. At Fuzz, I designed notable iPhone apps for Condé Nast and the pioneering UGuideMe tour guide system. My responsibilities included redesigning and developing websites for banks, schools, and artists, along with managing client relations. This role tested everything I thought I knew, but my background in print and information technology equipped me to handle the challenging trade-offs and client negotiations.</p>
  </div> #}

  <div class="col client-logos">
    <img src="images/client-logos/amzpharm.png" />

    <img src="images/client-logos/bentley.png" />

    <img src="images/client-logos/bpf.svg" />

    <img src="images/client-logos/chromatic-logo.svg" />

    <img src="images/client-logos/cvision.svg" />

    <img src="images/client-logos/govcon.png" />

    <img src="images/client-logos/imperfect.svg" />

    <img src="images/client-logos/LA2050.svg" />

    <img src="images/client-logos/lifescore.svg" />

    <img src="images/client-logos/mariana.svg" />

    <img src="images/client-logos/MBARI.svg" />

    <img src="images/client-logos/NAIS.png" />

    <img src="images/client-logos/openbay.png" />

    <img src="images/client-logos/prototypal.svg" />

    <img src="images/client-logos/sri.svg" />

    <img src="images/client-logos/twitch.svg" />
  </div>

  <div class="row">
    <div class="role col">
      <img src="images/role-logos/mariana.svg" />
      <h3>
        Director of Design
      </h3>
      <time datetime="2016/2017">2016 - 2017</time>
      <p>After working with the founders of Flywheel Sports - a former top competitive spin cycling studio with locations around the world - to redefine critical technical and service design aspects of their customer experience, I'd find myself working with the same team on their new venture. My first mark was to run a sequence of design sprints that would become the first phase of their product, and I'd later join the team full time as their Director of Design. During my time there I directly contributed on product design, user research, usability testing, and paved the way forward for this new team to bring the product to an international market.</p>
    </div>

    <div class="role col">
      <img src="images/role-logos/dockyard.svg" />
      <h3>
        Partner &amp; Creative Director
      </h3>
      <time datetime="2013/2016">2013 - 2016</time>
      <p>In 2013, only a year later after starting Dobot, I sold it to DockYard and onboarded as Partner and Creative Director. I would eventually co-lead a team of nine designers and twelve engineers. We completed multi-million dollar projects for clients like McGraw Hill Education, NASDAQ, Society of Grownups/Mass Mutual, IDEO, Flywheel Sports, and America's Test Kitchen. After overseeing the team expansion and training my successor, I resigned to embark on a journey to explore the concept of a impact driven design studio, which eventually materialized as Make&amp;Model.</p>
    </div>

    <div class="role col">
      <img src="images/role-logos/dobot.svg" />
      <h3>
        Founder
      </h3>
      <time datetime="2012/2013">2012 - 2013</time>
      <p>My second business was a Cambridge, MA-based boutique design and illustration studio. I led the creation of interactive animated web comics, organized pillar Boston design community events, and art-directed animations, photoshoots, and even music videos. While we focused largely on full interactive media experiences, we also performed product design services ranging from innovative in-store shopping to software for new wifi-first cellular devices.</p>
    </div> 
  </div>
</section>