      <section class="education">
        <h2>Education</h2>
        <ul>
          <li>
            <strong>BFA, Graphic Design</strong> - 2008
            <span class="school"><a href="https://www.montserrat.edu/" target="_blank">Montserrat College of Art</a></span>
            <span class="awards">Awards: Excellence in Graphic Design</span>
          </li>
          <li>
            <strong>Diploma, Information Technology</strong> - 2004
            <span class="school"><a href="https://pathfindertech.org/programming-web-development/" target="_blank">Pathfinder R.V.T.H.S.</a></span>
            <span class="awards">Awards: Excellence in Geometry, Physics, and Information Technology</span>
          </li>
        </ul>
      </section>