      <section class="education">
        <h3>Education</h3>
        <ul>
          <li>
            <strong>BFA, Graphic Design & Photography - 2008</strong>
            <span class="school">Montserrat College of Art</span>
            <span class="awards">Awards: Excellent in Graphic Design</span>
          </li>
          <li>
            <strong>Diploma, Information Technology - 2004</strong>
            <span class="school"></span>Pathfinder R.V.T.H.S.</span>
            <span class="awards">Awards: Excellence in Geometry, Physics, and Information Technology</span>
          </li>
        </ul>
      </section>