<section>
  <h2>Events</h2>
  <ul>
    <li>
      <strong>Founder & organizer of UX Camp</strong><br/>2014–2018 (New York, California, Maine)
      
      <ul>
        <li>I started UX Camp during my employment at DockYard, and carried it forward with me through Make&Model. It is a wonderful event, and would be a pleasure to bring back wherever I'm at next.</li>
        <li>Fundraising, sourcing speakers and workshop coordinator, creating event schedules and fallbacks, sourcing musical artists, venue, catering and marketing for ticket sales</li>
        <li>Leading the events programming, working with volunteers and collaborators to keep smoother operations</li>
      </ul>

      <a href="https://www.uxcamp.com" target="_blank">&#10230; 🥁 UX Camp</a>.
    </li>

    <li>
      <strong>Co-founder &amp; organizer of Offline Camp</strong><br/> 2015-2019 (Oregon, New York, Berlin)
      
      <ul>
        <li>Offline Camp was an event that assisted in the popularization of the need to address low-to-no bandwidth situations within software and web applications. Primary functions: Website, Fundraising, “Camp Counselor”, Firemaster, Werewolves Director, Writer</li>
      </ul>

      <a href="https://offlinefirst.org/camp" target="_blank">&#10230; 🦖 Offline Camp</a>.
    </li>
    <li>
      Past organizer of meetups:  <a href="https://www.meetup.com/uxboston/" target="_blank">UX Boston</a>, UX East, UX Berkeley, <a href="https://www.meetup.com/uxsanfrancisco/" target="_blank">UX San Francisco</a>, <a href="https://uxhappyhour.com/" target="_blank">UX Happy Hour: Boston &amp; DC</a>
    </li>
  </ul>
</section>