<section>        
   <div class="intro">
     <p>Hey there, human. You might know of me as a product designer, developer, or entrepreneur. It is true, I am these things and I'm also more. This site will cover some of those things you may know, but for me it's more about exploring my writing, photography, indie products, and working toward releasing my own music.</p>
   </div>
</section>