<section>        
   <div class="intro">
     <h1>Hi there, I'm Steven Trevathan.</h1>
     <p>You may know me as a product designer, developer, entrepreneur, photographer, musician, or maybe a friend.</p>
   </div>
</section>