<section>        
   <div class="intro">
     <h1>Me, by me, in collaboration with me, presented just for you.</h1>
     <p>You may know me as a product designer, developer, entrepreneur, photographer, musician, or maybe a friend.</p>
   </div>
</section>