<h1>{{ header }}</h1>
<h3 class="intro">My career supplements a life lived with creative compassion.</h3>
<div class="testimonial-block noArt">

  {%- if testimonial -%}
  {%- for author in testimonial -%}
    {% include "blockquote.njk" %}
  {%- endfor -%}
  {%- endif -%}
</div>
