<h1>{{ header }}</h1>
<h3 class="intro">{{ introduction }}</h3>

{% include "_visualizer.njk" %}

<div class="testimonial-block noArt">

  {%- if testimonial -%}
  {%- for author in testimonial -%}
    {% include "blockquote.njk" %}
  {%- endfor -%}
  {%- endif -%}
</div>
