<nav aria-label="Main navigation" role="navigation" class="primary-nav">

<a href="/" class="its-my-name steven">Steven Trevathan</a>

{% for item in navigation %}
  <a href="{{item[1]}}" {% if item[0] == active %}class="active"{% endif %}>
  {% if item[0] == active %}<span class="smile">&#x263B;</span>{% endif %}
    {{item[0]}}
  </a>
{% endfor %}
</nav>
