<section class='wrapup form'>
  <p>If you like what you're reading, here's your chance to get more of it. I'll never send more than once per week, however notes get published here daily.</p>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/stevenotes"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/stevenotes', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email">📩 Notes by email </label>
    <div class="newsletter-inputs">
      <input type="email" name="email" id="bd-email" placeholder="Put it here, sport" />
      <input type="submit" value="Subscribe &#8599;" />
    </div>
  </form>
  <p>Until next time.</p>
  <p>Steven</p>
</section>