---
title: Steve Notes
postdate: Jan 11 2024
tags: post
active: Notes
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/_notes.css">
    <link rel="icon" href="../../images/favicon.svg">
    {% include "analytics.html" %}
  </head>
  <body class="notes">

    {%- if art -%}
      {% include "body-art.njk" %}
    {%- endif -%}

    {% include "nav.njk" %}
    
    <article class="wrap notes">

      <section>        
         <time><strong>{{ date | postDate }}</strong></time>
         
         <h1>{{ title }}</h1>
      </section>

      <section>
        {{ content | safe }}
      </section>

      {% include "./newsletter.html" %}

    </article>
  <div id="makemodelPositioner"></div>

  </body>
</html>
