---
title: Steve Notes
postdate: Jan 11 2024
tags: post
active: Notes
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/_notes.css">
    <link rel="icon" href="../../images/favicon.svg">
    {% include "analytics.html" %}
  </head>
  <body class="notes">

    {% include "nav.njk" %}

    {%- if art -%}
      {% include "body-art.njk" %}
      {%- if artcaption -%}
       <span class="art-caption">{{artcaption}}</span>
      {%- endif -%}
    {%- endif -%}
    
    <article class="wrap notes">
      <div class="col">
        <h1>{{ title }}</h1>
        <section>
           <time><strong>{{ date | postDate }}</strong></time>
        </section>
      </div>
      <div class="col">
        <section>
          {{ content | safe }}
        </section>
      </div>
      <div class="col">
        {% include "./newsletter.html" %}
      </div>

    </article>
  <div id="makemodelPositioner"></div>

  <script src="/scripts/img-rotation.js"></script>
  </body>
</html>
