<section>
  <h2>Life</h2>
  <div>
    <p>My interest in technology began like many others born in the 80s. I was eleven years old when we inherited our first computer, which, through happenstance, quickly became mine. I was fixated. Soon after, designing and developing websites allowed me to buy my own food for the summer. A few years later I was picked by my high school's IT shop instructors for a unique opportunity at a local print shop. There I'd manage their website design and development, edit and prepare book covers for printing, and assist other print shop personnel running the presses.<p/>
    
    <p>I am grateful for these experiences.<p/>

    <p>After the print shop, I pursued my degree in graphic design and photography while running a small painting business to support myself. This period of my life was marked by a strong drive and a willingness to experiment, which quickly opened doors for me in my professional journey. I've had the opportunity to join and create many successful product teams as a founder, director, manager, product designer, and developer. I come with a very rich background and an enthusiastic commitment to skill development and making meaningful contributions to our ever-improving world.</p>
  </div>

  <h3>Hobbies &amp; Family History</h3>
  <div>
    <p>I perform the marimba, guitar, drums, keyboards, vocals, and write all of my music. I love musical absurdity, comedy, and poetry.<br/>

    I am also a photographer, a dog trainer, a runner, a health and fitness enthusiast, and a lover of strategy games.</p>
  
    <p>My grandfather was an awarded US Air Force Wartime Navigator who served in WWII and also the inventor of the honeycomb - a fuel efficiency cell designed to ensure astronauts would have the fuel to return home from the moon. His prototype was installed on Apollo 11. While I didn't inherit his mechanical engineering skills, that creative mechanical thinking runs in the family. I have ambition, experience, patience, a legacy I cherish (though I promise the heritage brags end right here), and I'm excited to bring my best to my next project.</p>
  </div>
</section>
