<section>
  <h2>Life</h2>
    <p>I've had a long, complicated journey studded with critical influences that I credit my quality of life and ability to actively pursue my interests to. I didn't come from a likely place, was born with an absurdly different name (I grew up as Steven, however), and was more likely to be addicted to drugs or dead by now than where I've journeyed to. This is a debt I could never truly repay, but I'll do my best to honor it through living well with a positive, generous mindset, and give as much as I can with the skills I've developed to the potential of others.</p>

    <p>At eleven, inheriting my first computer marked the start of my tech journey, spurred by my parents' divorce and my father's indifference to technology. I was fixated. It was how I escaped and found my own community when I felt I had no others. Bullied and without a support network, I sought parental figures in my teachers and those friends I'd make online and eventually within my neighborhood. Their influence would uncover for me just how much more there was to life, and how much I stood to gain. To be honest, none of those friendships would have formed if they were in my school system - if you're a well known target in your school system, most people want to avoid the blast radius. Being just outside the roughest part of my town, I met the right young pals who'd share interests and open me up to so much more.</p>
    
    <p>Designing and developing websites eventually allowed me to buy my own food for a summer. Creating a Diablo 1 strategy and community website earned me lifelong friends and collaborators. Eventually, in high school, I was chosen by my Information Technology shop instructor for a unique opportunity at a <a href="https://www.vanvolumes.com/" target="_blank">local print shop</a>. I truly found purpose in technology where I felt I had none elsewhere. I'd manage the print shop's website design and development, edit and prepare book covers for printing, and even assist other print shop personnel running the presses.<p/>
    
    <p>I am grateful for these experiences. They were foundational and opened up a tremendously fruitful career path. Having purpose is a powerful thing to hold, and it can be difficult to retain. Today I still find it in technology and design, though it's expanded to visual arts, music, writing, and supporting my friend-family, my dogs, and the well-being of the body I've been given.<p/>

    <p>The opportunities to join and create many successful product teams as a founder, director, manager, product designer, and developer were not without significant self-improvement and dedication to leaving things better than how I found them.</p>
    
    <p>Perhaps someday we'll meet, reader, and we too may become friends, collaborators, and share our commitment to the well-being of ourselves and our communities.</p>

    <h3>Hobbies &amp; Family History</h3>
    <p>I perform the marimba, guitar, drums, keyboards, vocals, and write all of my music. I am also a photographer, a dog trainer, a distance runner, a health and fitness enthusiast, and an absolute fiend in role-playing strategy games (and anger-inducingly good at Jenga).</p>

    <p>From making music to running, my hobbies help shape my approach to life and work, suggesting, in my opinion, that diverse interests can enrich anyone's perspective and problem-solving capabilities, not just those in technology and design. My grandfather, whose inventive mind led to the honeycomb fuel cell's creation—well after his service as a wartime navigator—serves as a beacon of ingenuity and determination. To me, his story and the skills passed down through my own father highlight the power of creativity not just as a skill, but as a core value guiding my approach to life, encouraging me to seek innovative solutions that contribute positively to the world around me.</p>
</section>