<section>        
   <div>
      <h2>Managing Philosophy</h2>
      <p>I believe in a collaborative and inclusive design experience. My teams thrive by setting aside personal egos to create space to fully appreciate their teammates' perspectives, disciplines, and operational modes. Our actions are not motivated by personal convenience, but by the betterment of our team. We lift each other up.</p>

      <p>A resume or portfolio cannot fully capture what someone can contribute to a team; this must be observed and experienced over time. Teams gel or fail to do so based on real collaboration, not through activities like foosball or escape rooms, which I view as battlegrounds for proxy wars among those struggling with collaboration. Whether describable or merely felt, team members may not always understand the origins of their challenges and can easily become victims of their own projections. As designer-detectives, this situation won't persist; we identify and tackle challenges through examination, testing, learning, and building. We do this for ourselves, but also for the betterment of the team.</p>

      <p>Although we are not family, our collaborative work not only sustains us but also supports our families. It is important to remember why we are there, and why our teammates are there.</p>

      <p>The common mantra "strong opinions, held lightly" doesn't adequately describe the quality of engagement I seek in teams. It can still result in the loudest voice prevailing over the best idea. Team members must be resilient enough to mindfully adopt different perspectives, letting go sufficiently to truly reconcile with the team's needs.</p>

      <p>I think of it as active reconciliation, a skill that we, as designers, should already be proficient in during the convergence stage of our external work.</p>

      <p>I believe that established trust, openness, kindness, drive, and a positive team mentality enables us to flow together and achieve more than we could ever dream of alone. In my opinion, career advancement for all members of product teams should depend on these interpersonal qualities as well as their individual hard skills.</p>
   </div>

   <div>
      <h2>Design Team Principles</h2>
      <ul class="styled-list-ul">
         <li>Designers act as detectives.</li>
         <li>Designers serve as caretakers.</li>
         <li>Designers nurture their environments.</li>
         <li>Designers study conflict without instigating it.</li>
         <li>Designers must possess strong emotional intelligence and self-awareness.</li>
         <li>Designers must maintain an active curiosity and engage deeply in the work of their teams.</li>
      </ul>
   </div>
   <div>
      <h2>Process Principles</h2>
      <ul>
         <li>I implement continuous ideation with regular cross-team sessions. Ad hoc sessions are routinely held across design teams to support new initiatives and steer each designer towards success.</li>
         <li>The process is iteratively evolving, designed to serve the team exclusively. We avoid engaging in processes that serve no purpose beyond their mere existence. This rule permits necessary pauses in the process, whether it be a scheduled brainstorming, estimation session, or another activity the may have limited value at the time.</li>
      </ul>
   </div>
   <div>
      <h2>Design Principles</h2>
      <ul>
         <li>I maintain that there are no universal design principles; instead, we should develop a unique set to guide our team's decision-making. Many common design principles are subjective and vary in meaning depending on the situation. Instead, I believe our principles should be crafted based on customer needs and our business positioning. For example, "keep it simple" is subjective; to a customer, it might mean presenting all controls simultaneously rather than nesting them within menus or using other quick-search solutions.</li>
         <li>Adhering to the principle of reciprocity: if a solution feels like a shortcut, it likely is. We always consider the forces that create this solution, recognizing whether it has arisen from customer observations, is addressing unique business pressures, or is merely saving an individual some time.</li>
      </ul>
   </div>
</section>