<section>        
   <div class="intro">
      <h2>Managing Philosophy</h2>
      <p>I believe in a collaborative and inclusive design experience. My teams thrive by setting aside personal egos to create space to fully appreciate their teammates' perspectives, disciplines, and operational modes. Our actions are not motivated by personal convenience, but by the betterment of our team. We lift each other up.</p>

      <p>A resume or portfolio cannot fully capture what someone can contribute to a team; this must be observed and experienced over time. Teams gel or fail to do so based on real collaboration, not through activities like foosball or escape rooms, which I view as battlegrounds for proxy wars among those struggling with collaboration. Whether describable or merely felt, team members may not always understand the origins of their challenges and can easily become victims of their own projections. As designer-detectives, this situation won't persist; we identify and tackle challenges through examination, testing, learning, and building. We do this for ourselves, but also for the betterment of the team.</p>

      <p>Although we are not family, our collaborative work not only sustains us but also supports our families. It is important to remember why we are there, and why our teammates are there.</p>

      <p>The common mantra "strong opinions, held lightly" doesn't adequately describe the quality of engagement I seek in teams. It can still result in the loudest voice prevailing over the best idea. Team members must be resilient enough to mindfully adopt different perspectives, letting go sufficiently to truly reconcile with the team's needs.</p>

      <p>I think of it as active reconciliation, a skill that we, as designers, should already be proficient in during the convergence stage of our external work.</p>

      <p>I believe that established trust, openness, kindness, drive, and a positive team mentality enables us to flow together and achieve more than we could ever dream of alone. In my opinion, career advancement for all members of product teams should depend on these interpersonal qualities as well as their individual hard skills.</p>
</p>
   </div>
</section>