<article class="workgroup">
  <div class="caption-wrap">
    <div class="caption">{{ post.content | safe}}</div>
  </div>
  <div class="artwrap images">
    {%- for art in post.data.artsrc -%}
      <img src="{{art}}" draggable="false"/>
    {%- endfor -%}
  </div>
  <h2 class="art-title">{{post.data.title}}</h2>
  <a class="closeSet">
    <span class="closeSet"></span>
    <span class="closeSet"></span>
  </a>
</article>
