<div class="workgroup">
  <div class="artwrap images">
    <h3 class="art-title">{{post.data.title}}</h3>
    {%- for art in post.data.artsrc -%}
      <img src="{{art}}" />
    {%- endfor -%}
  </div>
  <div class="caption-wrap">
    <div class="caption">{{ post.content | safe}}</div>
  </div>
</div>
