      <section class="communication">
        <h2>Writing &amp; Speaking</h2>
        <ul>
          <li>
            <a href="https://www.creativebloq.com/features/design-for-offline" target="_blank"><strong>Design for Offline</strong></a>
            <span class="platform">NetMag &amp; Creative Bloq, Jul 2017</span>
          </li>
          <li>
            <a href="https://medium.com/offline-camp/voice-of-interconnect-an-offline-first-mobile-web-app-efc0a4b6af21" target="_blank"><strong>Voice of InterConnect: An Offline First Mobile Web App</strong></a>
            <span class="platform">Offline Camp Medium Publication</span>
          </li>
          <li>
            <a href="https://www.slideshare.net/SteveTrevathan/offline-first-at-the-new-builders-ideas-on-tap" target="_blank"><strong>Slides: Offline First</strong></a>
            <span class="platform">The New Builders: Ideas on Tap, Las Vegas NV 2017</span>
          </li>
          <li>
            <a href="https://medium.com/offline-camp/offline-patterns-there-are-many-jobs-to-be-done-9f97f7e89304" target="_blank"><strong>Getting Started With Offline Design Patterns</strong></a>
            <span class="platform">Offline Camp Medium Publication</span>
          </li>
          <li>
            <a href="https://medium.com/offline-camp/offline-low-bandwidth-ux-design-patterns-51391230a79e" target="_blank"><strong>Offline/Low-bandwidth UX Design Patterns</strong></a>
            <span class="platform">Offline Camp Medium Publication</span>
          </li>
          <li>
            <a href="http://www.creativebloq.com/web-design/design-single-page-app-ember-121518402" target="_blank"><strong>Design for Ember</strong></a>
            <span class="platform">NetMag & Creative Bloq, Dec 2015</span>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=ijiNbF2Wu0E" target="_blank"><strong>Talk: Designing for Single Page Apps</strong></a>
            <span class="platform">EmberConf, Portland OR 2015</span>
          </li>
          <li>
            <strong>Panel: UX or Brand?</strong>
            <span class="platform">Panel at UX Fest 2013</span>
          </li>
          <li>
            <strong>Talk: On Selling Design</strong>
            <span class="platform">NEPHP &amp; UX</span>
          </li>
          <li>
            <strong>Talk: What UX actually, really is.</strong>
            <span class="platform">Boston Webinno</span>
          </li>
          
        </ul>
      </section>