---
images: true
active: Design
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Website of Steven Trevathan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/_portfolio.css">
    <link rel="icon" href="../images/favicon.svg">
    {% include "analytics.html" %}
  </head>
  <body class="portfolio">
      {% include "nav.njk" %}
      
      <h1>Work </br> &amp; whatnot</h1>
      <article class="wrap">
        <p>I'm starting this little portfolio section with some past customer work (which I admit may be fairly old), I'm just scratching the surface there and NDAs prohibit me from sharing a majority of my more complex enterprise product work. There's an immense backlog from recent years to cover, and while I work on these I'm also posting various side projects and development work over in the <a href="/notes">notes section</a>, while aiming to keep this page focused on design, community, and my independent product work.</p>
      </article>
      <div class="col">
        <div class="portfolio-scroll-wrap">
          <div class="portfolio-grid">
            {% for post in collections.portfolio %}
              {% include "portfolio-workgroup.njk" %}
            {% endfor %}
          </div>
        </div>
      </div>
    
  <script src="../scripts/img-rotation.js"></script>
  <script src="../scripts/portfolio.js"></script>
  </body>
</html>
