---
images: true
active: Portfolio
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Webume of Steven Trevathan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/_portfolio.css">
    <link rel="icon" href="../images/favicon.svg">
    {% include "analytics.html" %}
  </head>
  <body id="return" class="portfolio">
    <article class="wrap">
      {% include "nav.njk" %}
      
      
      <section class="mason">      
        <div class="portfolio-heading">  
         <h1>This is my work.</h1>
         <p>Well, some it anyway. I'll write some content on each of these featured items very soon, so check back if you're inclined to.</p>
         <p>This interaction is a little wonky at the moment, but I'm keeping it for now. It'll get some improvements as I continue developing this.</p>
        </div>
      </section>

    </article>

    <div class="portfolio-scroll-wrap">
      <div class="portfolio-grid">
        {% for post in collections.portfolio %}
          {% include "portfolio-workgroup.njk" %}
        {% endfor %}
      </div>
    </div>

    <section class="image-dump">
      <section class="logos">      
        <div class="portfolio-heading">  
         <h2>There is a lot of history.</h2>
         <p>This is a logo parade of customers I've had over the years. In all cases, I defined the design strategy, team makeup, timelines, and creative directed projects.</p>
        </div>
        <ul class="logo-list">
        {% for logo in collections.logos %}
          <li><img src="../../{{logo}}" /></li>
        {% endfor %}
        </ul>
      </section>

      <div class="portfolio-heading">  
       <h2>There's also endless creative exploration to share.</h2>
       <p>I create a lot, and often, regardless of the medium. I'm a designer, developer, photographer, and musican. This section will see a lot of continuous updates, but beware: it's pretty much just an image dump right now.</p>
      </div>
      {% for image in collections.portfolioAssets | reverse %}
        <img src="../../{{image}}" />
      {% endfor %}
    </section>
    
  <script src="../scripts/img-rotation.js"></script>
  <script src="../scripts/portfolio.js"></script>
  </body>
</html>
