---
images: true
active: Work
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Webume of Steven Trevathan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/_portfolio.css">
    <link rel="icon" href="../images/favicon.svg">
    {% include "analytics.html" %}
  </head>
  <body class="portfolio">

      {% include "masthead.njk" %}
      {% include "nav.njk" %}
      
      <article class="wrap">
        <div class="col">
          <section>      
            <div class="intro">  
             <h1>This is my work.</h1>
             <p>Well, some it anyway. I'm writing content and prepping more studies as you read, so check back if you're inclined.</p>
            </div>
          </section>
          <ul class="logo-list">
          {% for logo in collections.logos %}
            <li><img src="../../{{logo}}" /></li>
          {% endfor %}
          </ul>
        </div>
        <div class="col">
          <div class="portfolio-scroll-wrap">
            <div class="portfolio-grid">
              {% for post in collections.portfolio %}
                {% include "portfolio-workgroup.njk" %}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col">
          <section>
            <h2>Leadership</h2>
            <p>It seems worth calling out my managerial experience separate from any design specific work. Here I'll focus first on areas that I excelled in. When leading a new business you sure do experience and learn a lot. No surprise there. Nothing here comes without effort, planning, sacrifice, and perseverance.</p>
            <h3>
              Founder &amp; CEO, Make&amp;Model Inc.
            </h3>
            <time datetime="2017/2024">2017 - Present</time>
            <div>
              <ul>
                <li><strong>Building a team &amp; driving excellence:</strong>
                  <ul>
                    <li>I spearheaded the formation and development of the high-performing team at Make&amp;Model that specialized in product experience design, brand design, content strategy, and technology development.</li>
                    <li>I lead my team to consistently deliver industry-leading innovative projects, on time and budget, and in most cases with significant strategic insight that multiplied our effectiveness for years after our engagements. (I can speak to this.) </li>
                  </ul>
                </li>
                <li><strong>Surviving the COVID crosswinds</strong>
                  <ul>
                    <li>I navigated the company through the challenges of the COVID-19 pandemic, ensuring business continuity and team well-being. This included new remote team building activities, collaborative projects, and mental health days for the whole team.</li>
                    <li>I maintained operational stability following a significant push in creating a new business development pipeline and securing vital funding through the PPP program. We had, like many, lost some clients that would have otherwise thrived, and quickly adapted to keep ourselves stable.</li>
                  </ul>
                </li>
                <li><strong>Diversified our client portfolio</strong>
                  <ul>
                    <li>I played the central role in acquiring and servicing over 50 customers across healthcare, education, fitness, environmental sustainability, grocery retail, end-of-life planning, AI &amp; ML development, and philanthropic categories.</li>
                    <li>I also lead multi-disciplinary project teams to deliver tailored solutions that consistently met our varied client needs and expectations.</li>
                  </ul>
                </li>
                <li><strong>Growth and achievements</strong>
                  <ul>
                    <li>While I spoke with many potential co-founders, I ultimately founded the company alone, then hired 5 full-time members, and pushed our team toward annual revenues nearing $1 million.</li>
                    <li>We kept our product design skills inhouse, while hiring contractors for skillsets that weren't strategicly sensible to bring on board. With the help of my director of operations, I hired and managed contract illustrators, developers, researchers, and copy writers where the work saw the need.</li>
                    <li>I give credit for our success and longevity as a business to having kept a lean powerhouse team with an expanded network of experts.</li>
                  </ul>
                </li>
              </ul>
            </div>
          </section>

          <section>
            <h3>Select success stories</h3>
            <div>
             
              <ul>
                <li><strong>Imperfect Foods</strong>: I collaborated with my design team during a growth phase to revitalize the design and content of their marketing website, e-commerce design patterns, and later developed a 5 year visual product roadmap, contributing to a kinder, less wasteful world. Our work led to a 17% decrease in cancellations, a 20-30% decrease in first order bounces, and a 10-12% increase in first and second average order value. <a href="https://www.makemodel.co/work/imperfect-foods" target="_blank">&#10230; See on Make&amp;Model</a></li>
                <li><strong>CVision</strong>: For this open-source project partly funded by NOAA, I directed the design of their software experience for marine biologists to transform huge volumes of oceanic footage into meaningful data for AI training, which would at times used for piloting autonomous underwater vehicles. Their training and reporting product is now the standard for AI-driven oceanic research. <a href="https://www.makemodel.co/work/cvision" target="_blank">&#10230; See on Make&amp;Model</a></li></li>
                <li><strong>Monterey Bay Aquarium Research Institute</strong>: Following the creation of CVision's product, I directed the creation of FathomNet, a tool utilized by the marine sciences community for sharing and exploring oceanographic data, as well as aiding in research and education in understanding the marine environment. Think about it as a public database alike iNaturalist for the marine environment. This tool is now utilized by research institutes across the world to unite and improve their observational datasets. <a href="https://www.makemodel.co/work/mbari-fathomnet" target="_blank">&#10230; See on Make&amp;Model</a></li>
                <li><strong>National Association of Independent Schools</strong>: In a series of engagements with NAIS, I orchestrated the delivery of their new Market View, DASL, and Compensation Explorer products. Their aim is to enable folks in the business of running independent schools to better assess the trends of their addressable market, understand their spend on attaining new students, allow comparisons and understanding performance differences between school regions, and to assure appropriately competitive compensation for employees. <a href="https://www.makemodel.co/work/nais" target="_blank">&#10230; See on Make&amp;Model</a></li>
                <li><strong>Better Place Forests</strong>: A past client who joined BPF as their CMO had asked me to bring in my team to “upcycle” their brand, to reconsider their entire marketing site content strategy, and to deliver an e-commerce experience designed to help make end-of-life planning more approachable, affordable, and environmentally sound. The relationship proved to be a huge success, enabling their expansion into midwest and eastern forests, and reducing decision friction and the difficulty around discussing death. <a href="https://www.makemodel.co/work/better-place-forests" target="_blank">&#10230; See on Make&amp;Model</a></li>
                <li><strong>CareerVillage</strong>: I performed many duties in our many year partnership with CareerVillage. I directed the design, development, and much of the product level operations behind producing their current experience. CareerVillage provides access to career advisory and resources that many learners would have no other means of attaining. I love their mission and continue to support them. <a href="https://www.makemodel.co/work/careervillage" target="_blank">&#10230; See on Make&amp;Model</a></li>
              </ul>
            </div>
          </section>
        </div>
      </article>


    <article class="wrap">
    <section class="image-dump">
      <div class="col">
        <div class="portfolio-heading">  
         <h2>The creative hopper.</h2>
         <p>From here on down you'll find images that I send to a folder for automated processing. These are photographs I've snapped, songs I've written, video I've recorded, sketches I've drawn, and more from my life of creative work.</p>
        </div>
      </div>
      <div class="col">
        <div class="masonry">
          {% for image in collections.portfolioAssets | reverse %}
            <img src="../../{{image}}" />
          {% endfor %}
        </div>
      </div>
    </section>
    </article>
    
  <script src="../scripts/img-rotation.js"></script>
  <script src="../scripts/portfolio.js"></script>
  </body>
</html>
