---
active: Notes
header: These are my notes.
subheader: Short thoughts, creative writings, technology, art, and design focused. Note sized.
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Website of Steven Trevathan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/_notes.css">
    <link rel="icon" href="../images/favicon.svg">
    {% include "./analytics.html" %}
  </head>
  <body class="notes">
    {% include "nav.njk" %}

    {% include "masthead.njk" %}
    <article class="wrap notes">
      <div class="col">
        <nav>
          <ul class="post-collection">
            {%- for post in collections.post reversed -%}
             {%- if post.data.draft == false -%}
              <li>
                <span class="post-count">&#35;{{ post.data.postnumber }}</span>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
                <span class="post-date">{{ post.date | postDate }}</span>
              </li>
             {%- endif -%} 
           {%- endfor -%}
          </ul>
        </nav>
      </div>
      <div class="col">
        {% include "./newsletter.html" %}
      </div>

    </article>

  <script src="/scripts/img-rotation.js"></script>
  </body>
</html>
